<ion-tabs class="tabs-icon-top tabs-item-hide">
    <!-- Login Tab -->
    <ion-tab title="Login">
        <ion-nav-view name="tabs-login"></ion-nav-view>
    </ion-tab>

    <!-- Order Tab -->
    <ion-tab title="Order">
        <ion-nav-view name="tabs-order"></ion-nav-view>
    </ion-tab>

    <!-- Recommended Tab -->
    <ion-tab title="Recommended">
        <ion-nav-view name="tabs-recommended"></ion-nav-view>
    </ion-tab>

    <!-- Wishlist Tab -->
    <ion-tab title="Wishlist">
        <ion-nav-view name="tabs-wishlist"></ion-nav-view>
    </ion-tab>

</ion-tabs>
