<ion-view>
    <ion-header-bar class="bar-dark">
      <div class="title">Oferty
        <a href="#" ng-click="openInSystemBrowser(sellerPage)">
          <span>{{sellerInfo.login}}</span>
        </a>
      </div>
       
    </ion-header-bar>
    
  <ion-content scroll="false"  has-bouncing="false">
      <div ng-if="cardsLoaded">
          <td-cards>
              <td-card
                      id="td-card"
                      class="td-card td-card--index-{{$index}}"
                      ng-repeat="card in cards"
                      on-transition-left="cardDislike(card)"
                      on-transition-right="cardLike(card)"
                      on-transition-out="fadeCard()"
                      on-destroy="removeCard($index)"
                      >
                  <div class="card">
                      <figure class="item item-image">
                          <img ng-src="{{card.offer.mainImage}}">
                          <div class="td-card__overlay td-card__overlay--dislike no-text">Dislike</div>
                          <div class="td-card__overlay td-card__overlay--like yes-text">Add to cart</div>
                      </figure>
                  </div>

                  <button class="name">
                    <a href="#" ng-click="openInSystemBrowser(offerWWWPage)">
                      {{card.offer.name}}
                    </a>
                    <span class="prize outline">&nbsp;{{card.offer.prices.buyNow | currency}}</span>
                  </button>


              </td-card>
          </td-cards>
      </div>
  </ion-content>
  <ion-footer-bar  class="bar-assertive">
    <div class="button-bar">
      <button class="button button-dark button-icon icon ion-ios-cart" ng-click="makeOrder()">  {{totalPrice() | currency }}</button>
      <button class="button button-assertive button-icon icon ion-ios-list">  allegro</button>
    </div>
  </ion-footer-bar>
</ion-view>
