<ion-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Lista życzeń</h1>
        <button class="button button-icon" ng-click="newItemForm()">
            <i class="icon ion-plus"></i>
        </button>
    </ion-header-bar>
    <ion-content style="background-color: #fff;">
        <!-- our list and list items -->
        <ion-list can-swipe="true">
            <ion-item ng-repeat="item in wishItem" class="item-icon-right" on-swipe-left="onSwipeLeft($index)" on-swipe-right="onSwipeRight($index)" on-release="onRelease($index)">
                {{item.title}}
                <div ng-if="item.suggested" class="icon" style="font-size: 9px;">
                    sponsored by <img style="margin-left: 5px; height: 14px; width: auto;" src="img/allegro.png"/>
                </div>
                <ion-option-button class="button-assertive ng-click="share(item)">
                    Swipe left to delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
<script id="new-task.html" type="text/ng-template">
    <div class="modal">
        <!-- Modal header bar -->
        <ion-header-bar class="bar-dark">
            <h1 class="title">Dodaj nowy wpis</h1>
            <button class="button button-clear button-clear button-icon ion-close-round" ng-click="closeNewItem()"></button>
        </ion-header-bar>

        <!-- Modal content area -->
        <ion-content>

            <form ng-submit="addItem(task)">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="Co chciałbyś kupić?" ng-model="task.title">
                    </label>
                </div>
                <div class="padding">
                    <button type="submit" class="button button-block button-assertive">Dodaj nowy wpis</button>
                </div>
            </form>

        </ion-content>

    </div>
</script>
